<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <p>Preis:</p><p id="finalPrice"></p>
        </div>
        <div class="col-md-4">
          <p>Gewicht:</p><p id="finalWeight"></p>
        </div>
        <div class="col-md-4">
          <p>Kaufen</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row" id="ingredientSelection">
          <% @ingredients.each do |ingredient| %>
            <div class="col-md-3 p-3" id= <%= ingredient.name %>>
                <%= render 'shared/card_ingredient', ingredient_within: ingredient %>
            </div>


          <% end %>

      </div>
    </div>
    <div style="transform: rotate(180deg);" class="col-md-4 p-3">
      <%= render 'shared/jar' %>
    </div>
      <%= button_to "delete", delete_all_doses_path, method: "delete", remote:  true %>
  </div>
  <div class="row">
    <div class="col-md-2 text-center" >
      <%= render 'shared/pie-chart', summary_protein_within: @summary_protein, remote: true %>
      <p id="finalProtein"></p><p> Gramm </p>
    </div>
    <div class="col-md-2">
      <p id="target"></p>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>



<!-- Primal structure -->
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div> -->
